<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.crm.mapper.CustomerLossMapper">
    <cache/>
  <resultMap id="BaseResultMap" type="com.neuedu.crm.pojo.CustomerLoss">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="last_order_time" jdbcType="TIMESTAMP" property="lastOrderTime" />
    <result column="measure" jdbcType="VARCHAR" property="measure" />
    <result column="measure_append" jdbcType="VARCHAR" property="measureAppend" />
    <result column="loss_date" jdbcType="TIMESTAMP" property="lossDate" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  
  
  <!-- 批量插入 -->
  <insert id="insertLossBatch" parameterType="Orders" >
  	insert into customer_loss(customer_id, last_order_time)
  	values
  	<foreach collection="orders" item="o" separator=",">
  		(#{o.customerId}, #{o.date})
  	</foreach>
  </insert>
  
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, customer_id, last_order_time, measure, measure_append, loss_date, reason, `status`
  </sql>
  <select id="selectByExample" parameterType="com.neuedu.crm.pojo.CustomerLossExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from customer_loss
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer_loss
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from customer_loss
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neuedu.crm.pojo.CustomerLossExample">
    delete from customer_loss
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.neuedu.crm.pojo.CustomerLoss" useGeneratedKeys="true">
    insert into customer_loss (customer_id, last_order_time, measure, 
      measure_append, loss_date, reason, 
      `status`)
    values (#{customerId,jdbcType=INTEGER}, #{lastOrderTime,jdbcType=TIMESTAMP}, #{measure,jdbcType=VARCHAR}, 
      #{measureAppend,jdbcType=VARCHAR}, #{lossDate,jdbcType=TIMESTAMP}, #{reason,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.neuedu.crm.pojo.CustomerLoss" useGeneratedKeys="true">
    insert into customer_loss
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="lastOrderTime != null">
        last_order_time,
      </if>
      <if test="measure != null">
        measure,
      </if>
      <if test="measureAppend != null">
        measure_append,
      </if>
      <if test="lossDate != null">
        loss_date,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="lastOrderTime != null">
        #{lastOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="measure != null">
        #{measure,jdbcType=VARCHAR},
      </if>
      <if test="measureAppend != null">
        #{measureAppend,jdbcType=VARCHAR},
      </if>
      <if test="lossDate != null">
        #{lossDate,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neuedu.crm.pojo.CustomerLossExample" resultType="java.lang.Long">
    select count(*) from customer_loss
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update customer_loss
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.customerId != null">
        customer_id = #{record.customerId,jdbcType=INTEGER},
      </if>
      <if test="record.lastOrderTime != null">
        last_order_time = #{record.lastOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.measure != null">
        measure = #{record.measure,jdbcType=VARCHAR},
      </if>
      <if test="record.measureAppend != null">
        measure_append = #{record.measureAppend,jdbcType=VARCHAR},
      </if>
      <if test="record.lossDate != null">
        loss_date = #{record.lossDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reason != null">
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        `status` = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update customer_loss
    set id = #{record.id,jdbcType=INTEGER},
      customer_id = #{record.customerId,jdbcType=INTEGER},
      last_order_time = #{record.lastOrderTime,jdbcType=TIMESTAMP},
      measure = #{record.measure,jdbcType=VARCHAR},
      measure_append = #{record.measureAppend,jdbcType=VARCHAR},
      loss_date = #{record.lossDate,jdbcType=TIMESTAMP},
      reason = #{record.reason,jdbcType=VARCHAR},
      `status` = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neuedu.crm.pojo.CustomerLoss">
    update customer_loss
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="lastOrderTime != null">
        last_order_time = #{lastOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="measure != null">
        measure = #{measure,jdbcType=VARCHAR},
      </if>
      <if test="measureAppend != null">
        measure_append = #{measureAppend,jdbcType=VARCHAR},
      </if>
      <if test="lossDate != null">
        loss_date = #{lossDate,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neuedu.crm.pojo.CustomerLoss">
    update customer_loss
    set customer_id = #{customerId,jdbcType=INTEGER},
      last_order_time = #{lastOrderTime,jdbcType=TIMESTAMP},
      measure = #{measure,jdbcType=VARCHAR},
      measure_append = #{measureAppend,jdbcType=VARCHAR},
      loss_date = #{lossDate,jdbcType=TIMESTAMP},
      reason = #{reason,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>